$black: #000000;
$white: #ffffff;
$gray: #464646;
$light-gray: #f5f5f5;
$green: #58bc6a;
$light-green: #2ade72;
$dark-green: #305c06;
$logo: #414141;

$green-check: #2aeb77;
$gray-minus: #9e9898;

$hero-shadow: rgba(0, 0, 0, 0.6);